

azulito = #449CCF;
grisesito = #e3e8ed;
rojito = #d9230f;
gris-fuerte = #657483;
gris-claro = #F7F8F9;
verde-claro = #3fcf7f;
@font-face {
  font-family: 'icomoon';
  src:url('fuentes/icomoon.eot?-4nznf3');
  src:url('fuentes/icomoon.eot?#iefix-4nznf3') format('embedded-opentype'),
    url('fuentes/icomoon.woff?-4nznf3') format('woff'),
    url('fuentes/icomoon.ttf?-4nznf3') format('truetype'),
    url('fuentes/icomoon.svg?-4nznf3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color:black;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-grid:before {
  content: "\e600";
}

.icon-coin-dollar:before {
  content: "\e93b";
}

.icon-lifebuoy:before {
  content: "\e941";
}

.icon-user:before {
  content: "\e971";
}

.icon-user-check:before {
  content: "\e975";
}

.icon-search:before {
  content: "\e986";
}

.icon-bin:before {
  content: "\e9ac";
}

.icon-cross:before {
  content: "\ea0f";
}

.icon-circle-right:before {
  content: "\ea42";
}

.icon-magnifier:before {
  content: "\e601";
}

.icon-grid2:before {
  content: "\e602";
}

.icon-shipping:before {
  content: "\e603";
}

.icon-messages:before {
  content: "\e604";
}

.icon-storage:before {
  content: "\e605";
}

.icon-attach-money:before {
  content: "\e606";
}

.icon-keyboard-arrow-down:before {
  content: "\e607";
}

.icon-keyboard-arrow-left:before {
  content: "\e608";
}

.icon-keyboard-arrow-right:before {
  content: "\e609";
}

.icon-keyboard-arrow-up:before {
  content: "\e60a";
}

.icon-laptop-chromebook:before {
  content: "\e60b";
}

.icon-laptop-mac:before {
  content: "\e60c";
}

.icon-local-grocery-store:before {
  content: "\e60d";
}

.icon-local-shipping:before {
  content: "\e60e";
}

.icon-star-outline:before {
  content: "\e60f";
}

.icon-square-plus:before {
  content: "\e044";
}

.icon-square-minus:before {
  content: "\e045";
}

.icon-square-cross:before {
  content: "\e047";
}

.icon-star:before {
  content: "\e093";
}

.icon-th-large:before {
  content: "\f009";
}

.icon-list:before {
  content: "\f03a";
}

.icon-exclamation-triangle:before {
  content: "\f071";
}

.icon-angle-left:before {
  content: "\f104";
}

.icon-angle-right:before {
  content: "\f105";
}

.icon-angle-up:before {
  content: "\f106";
}

.icon-angle-down:before {
  content: "\f107";
}

.icon-laptop:before {
  content: "\f109";
}

.icon-dollar:before {
  content: "\f155";
}

.icon-thumbs-up:before {
  content: "\f164";
}

.icon-thumbs-down:before {
  content: "\f165";
}

.icon-life-bouy:before {
  content: "\f1cd";
}

.icon-search2:before {
  content: "\e610";
}

.icon-cog:before {
  content: "\e611";
}

.icon-trashcan:before {
  content: "\e612";
}

.icon-chevron-down:before {
  content: "\e613";
}

.icon-chevron-left:before {
  content: "\e614";
}

.icon-chevron-right:before {
  content: "\e615";
}

.icon-chevron-up:before {
  content: "\e616";
}

.icon-squared-cross:before {
  content: "\e617";
}

.icon-squared-minus:before {
  content: "\e618";
}

.icon-squared-plus:before {
  content: "\e619";
}

.icon-star-outlined:before {
  content: "\e61a";
}



// html
//   font-size 80%

body
	font-size 16px 
	background white
 

a
	text-decoration none
   
h3
  margin 0
ul
  padding 0
  margin 0
  list-style none 
.anuncio  
  max-width 1000px
  margin 0 auto
  .anuncio-principal
    width 100%
    margin 0
    padding 0
    img
      width 100%
  
header
	max-width 1200px
	background #05558d
	padding .4em 0
  
	#nav1
		position fixed 
		bottom 0
		width 100%
		background white
		border-top 1px solid gray
		ul
			font-size 0
		.item-nav
			display inline-block
			font-size .86rem
			border-right 1px solid #C7D3D8 
			padding 0 .4em
			list-style none
			&:first-child
				border-left 0px
			&:last-child
				border-right 0px 
			.font-img
				font-size 1.6rem
				color #0769AD
				margin-top .2em 	
	#nav2
		position absolute
		top 0
		right 0
		margin 0.6em
		a
			color white
			font-size 1.5em
	#vistas
    width 120px
    margin 0 auto
    font-size 0
    p
      display inline-block
      font-size 1.3rem
      height 35px
      line-height 35px
      border 1px solid white
      box-shadow inset 0 0 10px rgba(0,0,0, 0.9), rgba(255,255,255,0.9) 0 1px 5px
      width 31%
      text-align center
      color white
      margin 0 auto
      margin-right 0
      &:last-child
        border-radius 0 .3em .3em 0
      &:first-child
        border-radius .3em 0 0 .3em 

.categoria-wrap
  background white
  position absolute
  margin-left auto
  margin-right auto
  width 90%
  height auto
  display none
  border 1px solid #ddd
  border-radius .3rem
  h3
   background #f5f5f5
   padding .5em 0
   border-bottom 1px solid #ddd
   color #a39f9c
   padding-left 3%
   font-family 'megrim'
   font-size 1rem
   margin 0
 .prim
   background #fbfbfb
   color #0769AD
   .lista-categoria
     border-bottom 1px solid grisesito
     padding .5rem 0 .5rem 3.2%
     margin-left auto
     margin-right auto
     //PARA VERSION DESKTOP
     // display flex
     // justify-content space-between
     span
       color #0088cc
       float right
       font-size 1.1rem
       margin-right 1rem
   .sub
     padding-left 1rem
     display none
     background white
     li
       border-bottom 1px solid #D7CACA
       padding .7rem 0 .7rem .5rem
    
  
  
  
.mostrarCategoria
  transition .5s
  display block
.buscar-wrap
    background rgba(0, 0, 0, 0.40)
    width 100% 
    height 200%	
    position absolute
    top 0
    display none
  .caja-buscar
    background #05558d
    height 42px
    padding-top .5em
  .buscar
      padding .4em
      width 225px
      border-radius .4em
      border 0px
      position relative
      display block
      margin 0 auto
  .close
    position absolute
    color white
    font-size 1.9rem
    padding .3em
    top 0
    right 0
     
.canvas_menu
  background #fff
  width 17em
  position fixed
  top 0
  left -19em
  transition .4s
  box-shadow 1px 1px 20px #333
  border-radius 0 0 .5em 0

  h3
    width 14.6em
    color white

  .canvas-item
    background #eee
    border 1 solid #eee
    margin .4em
    border-radius .3em

    a
      padding .3em 1em
      display block
      font-size 1.1em
      color #0769AD
  #info-usuario
    width 100%
    margin 0
    padding .69em 0
    top 0
    background #2359A1
    position relative
    h3
      color white
      margin 0
      margin-left .3em
    #logo-usuario
      position absolute
      right 0
      top .2em
      margin 0
      margin-right 1em
      
      img
        border 1px solid transparent
        border-radius 50%
.contenedor-item
  width 100%
  margin 20px auto
  overflow hidden //para que todo lo que se salga del height se muestre
  .item
    border-bottom 1px solid lightgray
    overflow hidden
    background #f5f5f5
    padding .5em
    
    .img-item
      width 80px
      margin 0 .4em
      background white
      img
        float left
        width 100%
        margin-right .8rem
    .info-item
      p,h3
        margin 0
        
      h3
        font-size 1.1rem
        font-weight normal
      p
        font-size .9em
        display -webkit-flex
        justify-content -webkit-space-between
        span
          font-size 1.2rem
          -webkit-align-self center
        
        margin-bottom .2em
      .precio
        color green
      .ofer
        text-decoration line-through
        color red
        
      .estado-producto
        display none
        
        
      .name-item
        font-size .8em
      .categoria-item
        &:before
          font-size 1.3em
.time-line
  padding-left 12px
  .post
    border-left 1px solid gray
    width 100%
    margin 0 auto
    padding-bottom 15px
    position relative
    display -webkit-flex 
    justify-content -webkit-flex-start
    .triangle
      &::before
        content ""
        border-left 8px solid transparent
        border-top 10px solid transparent
        border-bottom 10px solid transparent
        border-right 10px solid grisesito
        display inline-block
        position relative
        top 4px 
        left -14px

    .post-info
      color azulito
      width 100%
      position relative
      left -12px
      top -4px
        
  .logo
    border 1px solid transparent
    margin 0 
    padding 0
    position relative
    left -18px
    top -5px
    img
      border-radius 50%
      width 36px
 
.time-line-vt
  .post
    border-bottom 1px solid grisesito
    display -webkit-flex 
    justify-content -webkit-space-between
    margin-bottom 10px
    padding-bottom 10px
    .post-info
      background #fff
      // border 1px solid grisesito
      width 98%
      margin 0 auto
      .post-info-header
        background grisesito
        display flex
        justify-content space-between
        .post-info-header-name
          margin 0
          padding 0
        .post-info-header-ago
          font-family "megrim"
          
      .img-published
        margin 0 
        padding 0
        img
          width 100%
          border-radius 5px
    .logo
      width 36px
      padding 0
      margin 0 10px 0 0
      img 
        border-radius 10px
        width 36px


          
.v2
  border 1px solid lightgray
  background #fff
  border-radius .3em
  float left
  width 45%

  padding-bottom .5em
  margin 10px 2%

  p,h3
    margin 0
  h3
    border-bottom 1px solid lightgray
    width 90%
    margin 0 auto
    font-weight normal
    margin-bottom .3em
    font-size .8rem
  .precio
    color brown
    text-align left 
    
    margin-left 5%
  .img-item
      width 80%
      margin 10px auto
      img
        width 100%
  .categoria-item
    display none
    
  .estado-producto
    margin-left 5%
  

.v3
  width 95%
  margin 0px auto
  margin-bottom 10px
  border-radius .4em
  text-align left
  background white
  border 1px solid lightgray
  background #fff
  border-radius .3em
  padding-bottom .5em
  h3
    border-bottom 1px solid lightgray
    
  p,h3
    margin 0
  .img-item
    width 100%
    margin 15px auto
    img
      width 100%
  .categoria-item
    display none
  .estado-producto
    margin-left 0
  .precio
    color brown
 
    
.features-wrap
  border 1px solid grisesito
  width 90%
  margin-left auto
  margin-right auto
  background white
  border-radius 5px  
  
  .h3-title
    margin 0
    text-align center
  .content
    text-align center
    margin-bottom 10px
    .content-description
      border-radius .1em
      display inline-block
      .feature-description
        margin 0
        font-size .9rem
        color gray
    .icon-cont
      font-size 2rem
      margin 0
      // display inline-block
      
      
  
    
.buscar-activo
  border-radius .4em
  outline 0px


.button
 padding 4px 7px
 border-radius 4px
 font-size 1rem
 outline 0

.panel
  background #fff
  // border 1px solid grisesito
  width 98%
  border-radius 5px
  margin 0 auto
  box-shadow 0 1px 1px rgba(0, 0, 0, 0.05)
  &.primary
    border-radius 5px
  .panel-body
    padding .7rem 
    .item-panel-body
      margin 0
      padding 5px 0 
      border-bottom 1px solid grisesito
      display -webkit-flex
      justify-content -webkit-space-between
      &:last-child
        border-bottom 0
        padding-bottom 0
  .panel-header
    display -webkit-flex
    justify-content -webkit-space-between
    font-family serif
    border-radius 4px 4px 0 0
    border-bottom 1px solid grisesito
    padding .6rem .7rem
    .panel-title
      margin 0
      font-size 1.1rem
      
.estadisticas
  
  article
    display inline-block
    
.prueba
  display -webkit-flex
  background azulito
  color white
  justify-content -webkit-space-between 

//oocss   

.menu-mostrado
  left 0
  
.activo
  display block
  
.no-activo
  display none

.background-azul
  background azulito
  
.background-gris-claro
  background gris-claro

.background-gris-fuerte
  background gris-fuerte
  
.background-rojo
  background rojito
  
.background-verde-claro
  background verde-claro
    
.border-radius10
  border-radius 10px
.centrar-texto
  text-align center
  
.centrar-caja
  margin-left auto
  margin-right auto

.color-titulos
  color #D4191A

.color-blanco
  color #fff
  
.color-amarillo
  color #F4C414
  
.color-enlace
  color #D4191A

.color-verde
  color green

.color-azul
  color azulito
  
.color-gris
  color #656565
  
.color-gris-fuerte
  color gris-fuerte
   
.contador
  padding 3px 8px
  color white
  font-family "Helvetica Neue",Helvetica sans-serif
  font-weight bold
  

.wrapNuevo
  &::before
    content ""
    display inline-block
    border-bottom 5px  solid transparent 
    border-left 5px solid transparent 
    border-top 5px solid transparent
    border-right 5px solid rojito
    position relative
    left 4px
    top 1px
  .nuevo
    background rojito
    padding 2px
    border-radius 3px
    color white
    


.wrapNuevo-2
  &::before
    content ""
    display inline-block
    border-bottom 5px  solid transparent 
    border-left 5px solid transparent 
    border-top 5px solid transparent
    border-right 5px solid green
    position relative
    left 4px
    top 1px
  .nuevo
    background green
    padding 2px
    border-radius 3px
    color white
    
        

    
  
  
.text-right
  text-align right

.text-left
  text-align left


  //hacer media querys para la vista dos
  //de los productos en donde a partir de 500px 
    //se cambie a ancho fijo y se muestren mas elementos con inline-block
      