@font-face {
  font-family: 'icomoon';
  src: url("fuentes/icomoon.eot?-4nznf3");
  src: url("fuentes/icomoon.eot?#iefix-4nznf3") format('embedded-opentype'), url("fuentes/icomoon.woff?-4nznf3") format('woff'), url("fuentes/icomoon.ttf?-4nznf3") format('truetype'), url("fuentes/icomoon.svg?-4nznf3#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #000;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-grid:before {
  content: "\e600";
}
.icon-coin-dollar:before {
  content: "\e93b";
}
.icon-lifebuoy:before {
  content: "\e941";
}
.icon-user:before {
  content: "\e971";
}
.icon-user-check:before {
  content: "\e975";
}
.icon-search:before {
  content: "\e986";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-magnifier:before {
  content: "\e601";
}
.icon-grid2:before {
  content: "\e602";
}
.icon-shipping:before {
  content: "\e603";
}
.icon-messages:before {
  content: "\e604";
}
.icon-storage:before {
  content: "\e605";
}
.icon-attach-money:before {
  content: "\e606";
}
.icon-keyboard-arrow-down:before {
  content: "\e607";
}
.icon-keyboard-arrow-left:before {
  content: "\e608";
}
.icon-keyboard-arrow-right:before {
  content: "\e609";
}
.icon-keyboard-arrow-up:before {
  content: "\e60a";
}
.icon-laptop-chromebook:before {
  content: "\e60b";
}
.icon-laptop-mac:before {
  content: "\e60c";
}
.icon-local-grocery-store:before {
  content: "\e60d";
}
.icon-local-shipping:before {
  content: "\e60e";
}
.icon-star-outline:before {
  content: "\e60f";
}
.icon-square-plus:before {
  content: "\e044";
}
.icon-square-minus:before {
  content: "\e045";
}
.icon-square-cross:before {
  content: "\e047";
}
.icon-star:before {
  content: "\e093";
}
.icon-th-large:before {
  content: "\f009";
}
.icon-list:before {
  content: "\f03a";
}
.icon-exclamation-triangle:before {
  content: "\f071";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-laptop:before {
  content: "\f109";
}
.icon-dollar:before {
  content: "\f155";
}
.icon-thumbs-up:before {
  content: "\f164";
}
.icon-thumbs-down:before {
  content: "\f165";
}
.icon-life-bouy:before {
  content: "\f1cd";
}
.icon-search2:before {
  content: "\e610";
}
.icon-cog:before {
  content: "\e611";
}
.icon-trashcan:before {
  content: "\e612";
}
.icon-chevron-down:before {
  content: "\e613";
}
.icon-chevron-left:before {
  content: "\e614";
}
.icon-chevron-right:before {
  content: "\e615";
}
.icon-chevron-up:before {
  content: "\e616";
}
.icon-squared-cross:before {
  content: "\e617";
}
.icon-squared-minus:before {
  content: "\e618";
}
.icon-squared-plus:before {
  content: "\e619";
}
.icon-star-outlined:before {
  content: "\e61a";
}
font-size 16px {
  background: #d3d3d3;
}
a {
  text-decoration: none;
}
h3 {
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
header {
  background: #05558d;
  width: 100%;
}
header .logo {
  margin-left: 50px;
}
header .logo .logo-web {
  margin: 0;
}
#nav1 {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #fff;
}
#nav1 border-top 1px solid gray {
  z-index: 2;
}
#nav1 ul {
  font-size: 0;
}
#nav1 .item-nav {
  display: inline-block;
  font-size: 0.7rem;
  border-right: 1px solid #c7d3d8;
  padding: 0 0.4em;
}
#nav1 .item-nav list-style none .vender-desktop {
  color: #f00;
}
#nav1 .item-nav:first-child {
  border-left: 0px;
}
#nav1 .item-nav:last-child {
  border-right: 0px;
}
#nav1 .item-nav .font-img {
  font-size: 1.6rem;
  color: #0769ad;
  margin-top: 0.2em;
}
#nav1 .logo {
  margin: 0;
  padding: 0;
  display: inline-block;
}
#nav1 .logo span {
  display: inline-block;
}
#nav2 {
  margin: 0;
  display: inline-block;
  position: absolute;
  top: 0;
}
#nav2 right 0 .chat {
  margin: auto 0;
}
#nav2 right 0 .chat span {
  font-size: 19px;
  color: #fff;
}
#nav2 right 0 figure {
  margin: 5px 0px;
}
#nav2 right 0 figure img {
  border: 2px solid #fff;
}
#vistas {
  width: 120px;
  font-size: 0;
}
#vistas p {
  display: inline-block;
  font-size: 1.3rem;
  height: 35px;
  line-height: 35px;
  border: 1px solid #fff;
  -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.9), rgba(255,255,255,0.9) 0 1px 5px;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.9), rgba(255,255,255,0.9) 0 1px 5px;
  width: 31%;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  margin-right: 0;
}
#vistas p:last-child {
  -webkit-border-radius: 0 0.3em 0.3em 0;
  border-radius: 0 0.3em 0.3em 0;
}
#vistas p:first-child {
  -webkit-border-radius: 0.3em 0 0 0.3em;
  border-radius: 0.3em 0 0 0.3em;
}
.categoria-wrap {
  background: #fff;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  height: auto;
  display: none;
  position: absolute;
  border: 1px solid #ddd;
  -webkit-border-radius: 0.3rem;
  border-radius: 0.3rem;
}
.categoria-wrap h3 {
  background: #f5f5f5;
  padding: 0.5em 0;
  border-bottom: 1px solid #ddd;
  color: #a39f9c;
  padding-left: 3%;
  font-family: 'megrim';
  font-size: 1rem;
  margin: 0;
}
.prim {
  background: #fbfbfb;
  color: #0769ad;
}
.prim .lista-categoria {
  border-bottom: 1px solid #efefef;
  padding: 0.5rem 0 0.5rem 3.2%;
  margin-left: auto;
  margin-right: auto;
}
.prim .lista-categoria span {
  color: #08c;
  float: right;
  font-size: 1.1rem;
  margin-right: 1rem;
}
.prim .sub {
  padding-left: 1rem;
  display: none;
  background: #fff;
}
.prim .sub li {
  border-bottom: 1px solid #d7caca;
  padding: 0.7rem 0 0.7rem 0.5rem;
}
.mostrarCategoria {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
  display: block;
}
.buscar-wrap {
  background: rgba(0,0,0,0.4);
  width: 100%;
  height: 200%;
  position: absolute;
  top: 0;
  display: none;
}
.caja-buscar {
  background: #05558d;
  height: 35px;
  padding: 8px 0 5px 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -o-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.caja-buscar .buscar {
  width: 225px;
  -webkit-border-radius: 0.1em 0 0 0.1em;
  border-radius: 0.1em 0 0 0.1em;
  border: 0px;
  padding: 0.4em 8px;
  display: block;
}
.caja-buscar button {
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 1px solid #d3d3d3;
  background: #f8f8f8;
  color: #cc181e;
  display: none;
  padding: 0 10px;
}
.close {
  position: absolute;
  color: #fff;
  font-weight: normal;
  font-size: 1.9rem;
  margin: 0.5rem 0.4rem;
  top: 0;
  right: 0;
}
.main {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  background: #e9e9e9;
}
.main .canvas_menu {
  background: #fff;
  min-width: 225px;
  margin-top: 30px;
  border-right: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
  -webkit-border-radius: 0 0 0.5em 0;
  border-radius: 0 0 0.5em 0;
}
.main .canvas_menu h3 {
  width: 14.6em;
  color: #fff;
}
.main .canvas_menu .canvas-item-wrap {
  margin-bottom: 0.5em;
  width: 85%;
  padding: 0.3em 0;
}
.main .canvas_menu .canvas-item-wrap .canvas-item {
  display: block;
}
.main .canvas_menu .canvas-item-wrap .canvas-item.dad {
  color: #f00;
  margin-left: 0.3em;
}
.main .canvas_menu .canvas-item-wrap .canvas-item.dad margin-bottom .8em:hover {
  background: #cc181e;
  color: #fff;
}
.main .canvas_menu .canvas-item-wrap .canvas-item.dad h3 {
  font-size: 0.8em;
  color: #cc181e;
  text-transform: uppercase;
}
.main .canvas_menu .canvas-item-wrap .canvas-item.son {
  font-size: 0.9em;
  margin-left: 0.1em;
  margin-bottom: 0.2em;
  padding: 0 0 0.3em 0.5em;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.main .canvas_menu .canvas-item-wrap .canvas-item.son:hover {
  background: #cc181e;
  color: #fff;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
}
.main .canvas_menu .canvas-item-wrap .canvas-item.son .icon-cat {
  font-size: 1.2em;
  top: 2px;
  margin-right: 0.3rem;
  color: #878787;
}
.main #info-usuario {
  width: 100%;
  margin: 0;
  padding: 0.4rem 0;
  top: 0;
  overflow: hidden;
  background: #cc181e;
}
.main #info-usuario .stack-wrap {
  color: #ccc;
  display: block;
  width: 100%;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: end;
  -moz-box-align: end;
  -o-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  margin-top: 25px;
}
.main #info-usuario .stack-wrap li {
  font-size: 0.6rem;
  margin: 0 4px;
  text-transform: uppercase;
}
.main #info-usuario .stack-wrap li span:last-child {
  font-size: 1.1rem;
  color: #fff;
}
.main #info-usuario .name-usuario {
  color: #000;
  margin: 0;
}
.main #info-usuario #logo-usuario {
  margin: 0;
  padding: 0.2rem;
  width: 38px;
  height: 38px;
  float: left;
}
.main #info-usuario #logo-usuario img {
  border: 1px solid transparent;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 100%;
}
.main .contenedor-item {
  margin: 50px 2px 0 2px;
  background: #e9e9e9;
  border: 1px solid #d3d3d3;
  text-align: center;
}
.main .contenedor-item .anuncio-principal {
  max-width: 100%;
  margin: 0 auto;
}
.main .contenedor-item .close-change {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  color: #fff;
  text-decoration: underline;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  font-size: 0.7rem;
}
.main .contenedor-item .close-change .cerrar {
  cursor: pointer;
}
.main .contenedor-item .close-change .cambiar {
  cursor: pointer;
}
.main .contenedor-item .anuncio-principal-wrap {
  background: #d3d3d3;
  border: 1px #808080;
  width: 100%;
  height: 265px;
  margin: 0;
  padding: 0;
}
.main .contenedor-item .anuncio-principal-wrap img {
  width: 100%;
  height: 100%;
}
.main .contenedor-item .item {
  border-bottom: 1px solid #d3d3d3;
  -webkit-border-radius: 0 0.5em 0.5em 0;
  border-radius: 0 0.5em 0.5em 0;
  background: #fff;
  text-align: left;
  margin: 20px 0;
  position: relative;
}
.main .contenedor-item .item:before {
  position: absolute;
  top: 100%;
  left: 50%;
  height: 30px;
  width: 3px;
  background: #cc181e;
  content: "";
}
.main .contenedor-item .item:last-child:before {
  display: none;
}
.main .contenedor-item .item .info-item {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -o-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.main .contenedor-item .item .info-item .description-item {
  margin: 0;
}
.main .contenedor-item .item .info-item .description-item .wrap-creado-por {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.main .contenedor-item .item .info-item .description-item .wrap-creado-por p {
  margin-right: 3px;
}
.main .contenedor-item .item .info-item .img-item {
  width: 140px;
  height: 100px;
  margin: 0 0.4em;
  background: #fff;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -o-box-flex: 0;
  box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
}
.main .contenedor-item .item .info-item .img-item img {
  margin: 0;
  width: 100%;
  height: 100%;
}
.main .contenedor-item .item .info-item p {
  font-size: 0.9em;
  display: -webkit-flex;
  -webkit-box-pack: -webkit-space-between;
  -moz-box-pack: -webkit-space-between;
  -o-box-pack: -webkit-space-between;
  -ms-flex-pack: -webkit-space-between;
  -webkit-justify-content: -webkit-space-between;
  justify-content: -webkit-space-between;
}
.main .contenedor-item .item .info-item p span {
  font-size: 1.2rem;
  -webkit-align-self: center;
}
.main .contenedor-item .item .info-item .precio {
  -webkit-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  background: #cc181e;
  margin: 0;
  padding: 2px 5px;
  display: inline-block;
}
.main .contenedor-item .item .info-item .precio span {
  color: #fff;
}
.main .contenedor-item .item .info-item .ofer {
  text-decoration: line-through;
  color: #f00;
}
.main .contenedor-item .item .info-item .estado-producto {
  display: none;
}
.main .contenedor-item .item .info-item .name-item {
  font-size: 1.3em;
  font-weight: normal;
  margin: 0;
  color: #449ccf;
}
.main .contenedor-item .item .info-item .categoria-item {
  margin: 0;
  margin-bottom: 0.6em;
  max-width: 420px;
}
.main .contenedor-item .item .item-footer {
  margin: 0;
  display: block;
}
.main .contenedor-item .item .item-footer .actions {
  padding: 0.2em;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: end;
  -moz-box-align: end;
  -o-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
.main .contenedor-item .item .item-footer .actions .act {
  margin-left: 1em;
}
.main .contenedor-item .item .item-footer .actions .action {
  color: #a6b3bd;
  margin-left: 1em;
}
.main .contenedor-item .item .item-footer .actions .ago {
  margin-right: 10px;
  color: #aaa;
  font-size: 0.8em;
  font-style: italic;
}
.main aside {
  display: none;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -o-box-flex: 0;
  box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  width: 225px;
}
.main aside .anuncios-wrap {
  background: #fff;
  padding: 5px 8px;
  -webkit-border-radius: 0 0 0 0.5rem;
  border-radius: 0 0 0 0.5rem;
  border: 1px solid #d3d3d3;
  font-size: 12px;
}
.main aside .anuncios-wrap .anuncio-item {
  color: #000;
  border-bottom: 1px solid #d3d3d3;
  padding: 5px 0;
}
.main aside .anuncios-wrap .anuncio-item .title {
  margin: 0;
  padding: 0;
  text-align: left;
}
.main aside .anuncios-wrap .anuncio-item .liga a {
  color: #cc181e;
}
.main aside .anuncios-wrap .anuncio-item .liga a:hover {
  text-decoration: underline;
}
.main aside .anuncios-wrap .anuncio-item .img-anuncio {
  width: 98%;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}
.main aside .anuncios-wrap .anuncio-item .img-anuncio img {
  width: 100%;
  height: 125px;
}
.time-line {
  padding-left: 12px;
}
.time-line .post {
  border-left: 1px solid #808080;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 15px;
  position: relative;
  display: -webkit-flex;
  -webkit-box-pack: -webkit-flex-start;
  -moz-box-pack: -webkit-flex-start;
  -o-box-pack: -webkit-flex-start;
  -ms-flex-pack: -webkit-flex-start;
  -webkit-justify-content: -webkit-flex-start;
  justify-content: -webkit-flex-start;
}
.time-line .post .triangle::before {
  content: "";
  border-left: 8px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #efefef;
  display: inline-block;
  position: relative;
  top: 4px;
  right: 13px;
}
.time-line .post .post-info {
  color: #449ccf;
  width: 100%;
  position: relative;
  left: -12px;
  top: -4px;
}
.time-line .logo {
  border: 1px solid transparent;
  margin: 0;
  padding: 0;
  position: relative;
  left: -18px;
  top: -5px;
}
.time-line .logo img {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 36px;
}
.time-line-vt .post {
  border-bottom: 1px solid #efefef;
  display: -webkit-flex;
  -webkit-box-pack: -webkit-space-between;
  -moz-box-pack: -webkit-space-between;
  -o-box-pack: -webkit-space-between;
  -ms-flex-pack: -webkit-space-between;
  -webkit-justify-content: -webkit-space-between;
  justify-content: -webkit-space-between;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.time-line-vt .post .post-info {
  background: #fff;
  width: 98%;
  margin: 0 auto;
}
.time-line-vt .post .post-info .post-info-header {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  padding: 8px 0;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.time-line-vt .post .post-info .post-info-header .post-info-header-name {
  color: #000;
}
.time-line-vt .post .post-info .post-info-header .post-info-header-name .loged {
  font-weight: normal;
  font-size: 0.9rem;
  font-style: italic;
}
.time-line-vt .post .post-info .post-info-header .post-info-header-ago {
  font-family: "megrim";
  margin-right: 15px;
}
.time-line-vt .post .post-info .actions {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -o-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.time-line-vt .post .post-info .actions a {
  margin-right: 50px;
}
.time-line-vt .post .post-info .img-published {
  margin: 0;
  padding: 0;
}
.time-line-vt .post .post-info .img-published img {
  width: 100%;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.time-line-vt .post .logo {
  width: 36px;
  padding: 0;
  margin: 0 10px 0 0;
}
.time-line-vt .post .logo img {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  width: 36px;
}
.v2 {
  border: 1px solid #d3d3d3;
  background: #fff;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
  width: 194px;
  vertical-align: top;
  display: inline-block;
  text-align: left;
  margin: 10px 0px;
  margin-right: 5px;
}
.v2 .description-item {
  padding: 0 5px;
}
.v2 .description-item .wrap-creado-por {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.v2 .description-item .wrap-creado-por p {
  margin-right: 3px;
}
.v2 .item-footer {
  margin: 0;
  display: block;
  background: #f6f6f6;
  border-top: 1px solid #e7e7e7;
  padding-top: 4px;
}
.v2 .item-footer .actions {
  padding: 0 0 0.2em 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.v2 .item-footer .actions .act {
  margin-left: 0.3em;
}
.v2 .item-footer .actions .act .action {
  color: #555;
  font-weight: bold;
  font-size: 0.9em;
}
.v2 .item-footer .actions .act .action:before {
  color: #999;
  margin-left: 0.3em;
}
.v2 .item-footer .actions .act .action span {
  display: none;
  color: #555;
}
.v2 .item-footer .actions .ago {
  margin-right: 0.3em;
  color: #aaa;
  font-size: 0.8em;
  font-style: italic;
}
.v2 .name-item {
  border-bottom: 1px solid #d3d3d3;
  font-weight: normal;
  margin: 5px 0px 5px 0px;
  font-size: 0.8rem;
}
.v2 .precio {
  -webkit-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  background: #cc181e;
  margin: 0;
  padding: 2px 5px;
  display: inline;
}
.v2 .precio span {
  color: #fff;
}
.v2 .img-item {
  width: 100%;
  height: 150px;
  margin: 0;
}
.v2 .img-item img {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.v2 .name-item {
  font-size: 1em;
  color: #449ccf;
}
.v2 .categoria-item {
  margin: 0px 0 10px 0;
  font-size: 0.9em;
  background: #d3d3d3;
  padding: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-family: cursive;
}
.v2 .categoria-item:before {
  content: '"';
}
.v2 .categoria-item:after {
  content: '"';
}
.v3 {
  width: 95%;
  margin: 0px auto;
  margin-bottom: 10px;
  -webkit-border-radius: 0.4em;
  border-radius: 0.4em;
  text-align: left;
  background: #fff;
  border: 1px solid #d3d3d3;
  background: #fff;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
  padding-bottom: 0.5em;
}
.v3 h3 {
  border-bottom: 1px solid #d3d3d3;
}
.v3 p,
.v3 h3 {
  margin: 0;
}
.v3 .img-item {
  width: 100%;
  margin: 15px auto;
}
.v3 .img-item img {
  width: 100%;
}
.v3 .categoria-item {
  color: #f00;
}
.v3 .estado-producto {
  margin-left: 0;
}
.v3 .precio {
  color: #fff;
  padding: 3px 4px;
  -webkit-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  background: #cc181e;
}
.features-wrap {
  border: 1px solid #efefef;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.features-wrap .h3-title {
  margin: 0;
  text-align: center;
}
.features-wrap .content {
  text-align: center;
  margin-bottom: 10px;
}
.features-wrap .content .content-description {
  -webkit-border-radius: 0.1em;
  border-radius: 0.1em;
  display: inline-block;
}
.features-wrap .content .content-description .feature-description {
  margin: 0;
  font-size: 0.9rem;
  color: #808080;
}
.features-wrap .content .icon-cont {
  font-size: 2rem;
  margin: 0;
}
.buscar-activo {
  -webkit-border-radius: 0.4em;
  border-radius: 0.4em;
  outline: 0px;
}
.button {
  padding: 4px 7px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 1rem;
  outline: 0;
}
.panel {
  background: #fff;
  width: 98%;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  margin: 0 auto;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
  box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}
.panel.primary {
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.panel .panel-body {
  padding: 0.7rem;
}
.panel .panel-body .item-panel-body {
  margin: 0;
  padding: 5px 0;
  border-bottom: 1px solid #efefef;
  display: -webkit-flex;
  -webkit-box-pack: -webkit-space-between;
  -moz-box-pack: -webkit-space-between;
  -o-box-pack: -webkit-space-between;
  -ms-flex-pack: -webkit-space-between;
  -webkit-justify-content: -webkit-space-between;
  justify-content: -webkit-space-between;
}
.panel .panel-body .item-panel-body:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}
.panel .panel-header {
  display: -webkit-flex;
  -webkit-box-pack: -webkit-space-between;
  -moz-box-pack: -webkit-space-between;
  -o-box-pack: -webkit-space-between;
  -ms-flex-pack: -webkit-space-between;
  -webkit-justify-content: -webkit-space-between;
  justify-content: -webkit-space-between;
  font-family: serif;
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid #efefef;
  padding: 0.6rem 0.7rem;
}
.panel .panel-header .panel-title {
  margin: 0;
  font-size: 1.1rem;
}
.estadisticas article {
  display: inline-block;
}
.prueba {
  display: -webkit-flex;
  background: #449ccf;
  color: #fff;
  -webkit-box-pack: -webkit-space-between;
  -moz-box-pack: -webkit-space-between;
  -o-box-pack: -webkit-space-between;
  -ms-flex-pack: -webkit-space-between;
  -webkit-justify-content: -webkit-space-between;
  justify-content: -webkit-space-between;
}
.log-wrap {
  max-width: 450px;
  background: url("/img/back-products.jpg");
  background: #d3d3d3;
  text-align: center;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  padding-bottom: 10px;
  margin-bottom: 50px;
  -webkit-box-shadow: 0 0 15px #808080;
  box-shadow: 0 0 15px #808080;
  margin-left: 450px;
  display: none;
}
.log-wrap .top-wrap .head {
  background: #f7f9f8;
  -webkit-border-radius: 8px 8px 0 0;
  border-radius: 8px 8px 0 0;
  border-bottom: 1px solid #808080;
}
.log-wrap .top-wrap .intro-description {
  width: 390px;
  margin: 0 auto;
  margin-top: 10px;
}
.log-wrap .top-wrap .intro-description h3 {
  color: #fff;
  font-size: 22px;
  text-shadow: 0 0 4px #000;
}
.log-wrap .top-wrap .intro-description p {
  margin: 5px 0;
}
.log-wrap .top-wrap h2 {
  padding: 15px;
  margin: 0;
  font-family: "apple chancery";
  color: #cc181e;
  font-size: 25px;
}
.log-wrap .log-ways {
  width: 300px;
  margin: 0 auto;
}
.log-wrap .log-ways .face {
  background: #234da3;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  margin: 15px auto;
}
.log-wrap .log-ways .face a {
  display: block;
  padding: 15px;
  color: #fff;
  text-align: left;
  padding: 15px 60px;
}
.log-wrap .log-ways .face a:before {
  content: "f";
  color: #fff;
  -webkit-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  font-weight: bold;
  background: #2e56aa;
  position: absolute;
  font-size: 35px;
  -webkit-box-shadow: 0 0px 10px #fff;
  box-shadow: 0 0px 10px #fff;
  top: 0;
  left: 0;
  display: inline-block;
  padding: 4px 18px;
}
.log-wrap .log-ways .separator {
  color: #008000;
}
.log-wrap .log-ways .separator:before {
  content: "";
  height: 1px;
  background: #008000;
  margin-right: 4px;
  vertical-align: middle;
  display: inline-block;
  width: 110px;
}
.log-wrap .log-ways .separator:after {
  content: "";
  height: 1px;
  background: #008000;
  margin-left: 4px;
  vertical-align: middle;
  display: inline-block;
  width: 110px;
}
.log-wrap .log-ways form input {
  color: #5f5f5f;
  width: 98%;
  border: 0;
  padding: 10px 0px 10px 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 7px;
  outline: 0;
}
.log-wrap .log-ways form input[type="submit"] {
  color: #fff;
  background-image: -webkit-linear-gradient(#e3262e, #ab171e);
  background-image: -moz-linear-gradient(#e3262e, #ab171e);
  background-image: -o-linear-gradient(#e3262e, #ab171e);
  background-image: -ms-linear-gradient(#e3262e, #ab171e);
  background-image: linear-gradient(#e3262e, #ab171e);
  background-color: #ab171e;
  border-bottom-color: #820a0f;
  border-left-color: #9a1015;
  border-right-color: #9a1015;
  border-top-color: #af151b;
  border-style: solid;
  border-width: 1px;
  margin-top: 10px;
}
.log-wrap .log-ways .agree {
  font-size: 10px;
}
.log-wrap .miembro-log button {
  color: #5f5f5f;
  border: 0;
  padding: 5px 10px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #fdfdfd;
}
.menu-mostrado {
  left: 0;
}
.activo {
  display: block;
}
.no-activo {
  display: none;
}
.background-azul {
  background: #449ccf;
}
.background-gris-claro {
  background: #e9e9e9;
}
.background-gris-fuerte {
  background: #657483;
}
.background-rojo {
  background: #cc181e;
}
.background-verde-claro {
  background: #3fcf7f;
}
.border-radius10 {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.avatar {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  margin: 0;
}
.centrar-texto {
  text-align: center;
}
.centrar-caja {
  margin-left: auto;
  margin-right: auto;
}
.color-titulos {
  color: #d4191a;
}
.color-blanco {
  color: #fff;
}
.color-amarillo {
  color: #f4c414;
}
.color-enlace {
  color: #d4191a;
}
.color-verde {
  color: #008000;
}
.color-azul {
  color: #449ccf;
}
.color-gris {
  color: #656565;
}
.color-gris-fuerte {
  color: #657483;
}
.contador {
  padding: 3px 8px;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica sans-serif;
  font-weight: bold;
}
.spameado {
  color: #000;
  font-weight: bold;
}
.spameado:hover {
  text-decoration: underline;
  cursor: pointer;
}
.wrapNuevo::before {
  content: "";
  display: inline-block;
  border-bottom: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top: 5px solid transparent;
  border-right: 5px solid #cc181e;
  position: relative;
  left: 4px;
  top: 1px;
}
.wrapNuevo .nuevo {
  background: #cc181e;
  padding: 2px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
}
.wrapNuevo-2::before {
  content: "";
  display: inline-block;
  border-bottom: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top: 5px solid transparent;
  border-right: 5px solid #008000;
  position: relative;
  left: 4px;
  top: 1px;
}
.wrapNuevo-2 .nuevo {
  background: #008000;
  padding: 2px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
}
.border-bottom {
  border-bottom: 1px solid #e2e2e2;
}
.panel {
  border: 1px solid #e4e4e4;
  background: #fff;
  padding: 10px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.panel .paner-heading {
  border-bottom: 1px solid #343434;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
