@font-face
  font-family 'icomoon'
  src url('fuentes/icomoon.eot?rft380'),
      url('fuentes/icomoon.ttf'),
      url('fuentes/icomoon.svg'),
      url('fuentes/icomoon.woff')
  font-weight normal
  font-style normal

[class^="icon-"], [class*=" icon-"]
  font-family 'icomoon'
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.icon-parrafo1
  &:before
    content "\e600"

.icon-compu
  &:before
    content "\e601"
    color white

.icon-bocina
  &:after
    content "\e91a"
    margin-left .3em

.icon-carrito
  &:before
    content "\e93a"

.icon-pesos
  &:before
    content "\e93b"

.icon-tel
  &:before
    content "\e942"

.icon-usuarios
  &:before
    content "\e972"

.icon-buscar
  &:before
    content "\e986"

.icon-config
  &:before
    content "\e994"

.icon-basura
  &:before
    content "\e9ac"

.icon-airplane
  &:before
    content "\e9af"

.icon-truck
  &:before
    content "\e9b0"

.icon-lista2
  &:before
    content "\e9bb"
    color white

.icon-menu
  &:before
    content "\e9bd"

.icon-grid-alt
  &:before
    content "\e602"
    color white


.icon-grid
  &:before 
    content "\e603"
    color white



.icon-star-half
  &:before
    content "\e9d8"

.icon-flecha-circulada
  &:before
    content "\ea42"
    float right 
    vertical-align middle
    margin-right .6em


.icon-tabla2
  &:before
    content "\ea71"




body
	font-size 16px 
	background #DDE3E6
 

a
	text-decoration none
   

ul
  padding 0
  margin 0
  list-style none 


  
header
	max-width 1200px
	background #05558d
	padding .4em 0
  
	#nav1
		position fixed 
		bottom 0
		width 100%
		background white
     
		border-top 1px solid gray
		ul
			font-size 0
		.item-nav
			display inline-block
			font-size 1rem
			border-right 1px solid #C7D3D8 
			padding 0 .4em
			list-style none
      a
        width 50px
      
           	
			&:first-child
				border-left 0px
			&:last-child
				border-right 0px 
			.font-img
				font-size 1.6em
				color #0769AD
				margin-top .2em 	
	#nav2
		position absolute
		top 0
		right 0
		margin 0.6em
		a
			color white
			font-size 1.5em
            
      
	#vistas
    width 120px
    margin 0 auto
    font-size 0
    
    p
      display inline-block
      font-size 1.3rem
      height 35px
      line-height 35px
      border 1px solid white
      box-shadow inset 0 0 10px rgba(0,0,0, 0.9), rgba(255,255,255,0.9) 0 1px 5px
      width 31%
      text-align center
      margin 0 auto
      margin-right 0
      &:last-child
        border-radius 0 .3em .3em 0
      &:first-child
        border-radius .3em 0 0 .3em 
      
  
.buscar-wrap
    background rgba(0, 0, 0, 0.40)
    width 100% 
    height 200%	
    position absolute
    top 0
    display none
  .caja-buscar
    background #05558d
    height 42px
    padding-top .5em
  .buscar
      padding .4em
      width 225px
      border-radius .4em
      border 0px
      position relative
      display block
      margin 0 auto
  .close
    position absolute
    color white
    border 1px solid lightgray
    padding .3em
    border-radius .2em
    top 0
    right 0
    margin .7em .5em
     
.canvas_menu
  background #fff
  width 17em
  position fixed
  top 0
  left -19em
  transition .4s
  box-shadow 1px 1px 20px #333
  border-radius 0 0 .5em 0

  h3
    width 14.6em
    color white

  .canvas-item
    background #eee
    border 1 solid #eee
    margin .4em
    border-radius .3em

    a
      padding .3em 1em
      display block
      font-size 1.1em
      color #0769AD
  #info-usuario
    width 100%
    margin 0
    padding .69em 0
    top 0
    background #2359A1
    position relative
    h3
      color white
      margin 0
      margin-left .3em
    #logo-usuario
      position absolute
      right 0
      top .2em
      margin 0
      margin-right 1em
      
      img
        border 1px solid transparent
        border-radius 50%
.contenedor-item
  width 100%
  margin 20px auto
  overflow hidden //para que todo lo que se salga del height se muestre
  .titulo-secccion
    font-size 1.4em
    margin 0
    border-bottom 2px solid #000
    padding .3em .5em
    background #fff
    
  .item
    border-bottom 1px solid gray
    padding .3em .2em
    overflow hidden
    background #fff
    
    .img-item
      width 100px
      margin 0 .7em 0 1em
      background white
      img
        float left
        border-radius .7em 
        width 100%
    .info-item
      margin-top .7em
      p,h3
        margin 0
      .name-item
        font-size .8em
      .categoria-item
        &:before
          font-size 1.3em
          
.v2
  border-bottom 2px solid gray
  background #fff
  // box-shadow 2px 2px 10px #000
  text-align center
  border-radius .4em
  float left
  width 46%
  margin 10px 2%
   
  .categoria-item
    display none
  

.v3
  
  width 95%
  margin 10px auto
  border-radius .4em
  text-align center
  background white
  border-bottom 2px solid gray
  background #fff
  // box-shadow 2px 2px 10px black
  border-radius .4em
  .categoria-item
    display none
  figure
    display inline-block
  .info-item
    display block
 
    
  
    
  
    
.buscar-activo
  border-radius .4em
  outline 0px

input:focus
 
  transition .4s 

.menu-mostrado
  left 0
  
.is-active
  display block
  
.not-active
  display none

.centrar-texto
	text-align center
	
.centrar-caja
	margin 0 auto

.color-titulos
  color #D4191A
  
.color-enlace
  color #D4191A

.red 
  position relative
  right 250px
  transition .3s